@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5b6677;
}

.sidebar{
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .2s linear;
  background: linear-gradient(to right, #a06cb8, #ff6a88);
}
.sidebar:hover{
  font-size: 20px;
  width: 240px;
  transition: .2s linear;
}
.logo h1{
  font-size: 20px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  transition: .2s linear;
}
.menu{
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li{
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: .2s linear;
}
.menu li:hover, .active{
  background: #e0e0e058;
}
.menu a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span{
  overflow: hidden;
}
.menu a i{
  font-size: 1.2rem;
}
.main--content{
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}
.header--wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title h2{
  font-size: 20px;
  color: #000;
  font-weight: 800;
}
.user--info{
  display: flex;
  align-items: center;
  gap: 1;
}
.searh--box{
  background: rgb(237, 237, 237);
  border-radius: 8px;
  color: rgba(113, 99, 186, 255);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.searh--box input{
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
.searh--box i{
  font-size: 1.2rem;
  cursor: pointer;
  transition: .2s linear;
}
.searh--box i:hover{
  transform: scale(1.1);
}
section{
  padding: 30px 4%;
}
.text h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.text p{
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.linkis-id{
  padding: 40px 4%;
}
.container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  max-width: 1200px;
}
.contentss-box{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .2s linear;
}
.contentss-box:hover{
  transform: translateY(-10px);
}
.content-box img{
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.text-contents{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: left;
}
.text-contents h3{
  font-size: 20px;
  margin: 10px 0;
}
.text-contents p {
  font-size: 14px;
  margin-bottom: 20px;
}
.box-button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
  transition: .2s linear;
}
.content-box .box-button:hover{
  transform: scale(0.9);
}
.content {
  display: none;
  margin-top: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f4f4f4;
}
.content h2{
  text-align: center;
}
.content p{
  text-align: left;
  margin: 30px 20px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content img{
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30%;
  height: auto;
}
.gassensor{
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.effectradar{
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bold h2{
  text-align: left;
  font-weight: 400;
  margin: 20px;
}
.currently h3{
  text-align: left;
  font-weight: 400;
  margin: 20px;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover{
  background-color: #0056b3;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  justify-content: center;
}
.navbar a{
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 50px;
  transition: .2s linear;
}
.navbar a:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}
.subtitle h2{
  text-align: left;
  margin-top: 100px;
  font-weight: 400;
  font-size: 22px;
}

#kontak{
  margin-top: 80px;
  background: #333;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: 20px 0;
}
.list{
  width: 25%;
}
.list h4{
  font-size: 21px;
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.list h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background: #fff;
}
.list ul li:not(last-child){
  margin-bottom: 16px;
}
.list ul li a{
  color: #ffffffbf;
  font-size: var(--p-font);
  display: block;
  cursor: pointer;
  transition: .2s linear;
}
.list ul li a:hover{
  color: #fff;
  transform: translateX(14px);
}
.list .social a{
  height: 40px;
  width: 40px;
  font-size: 21px;
  background: #fff;
  border-radius: 8px;
  color: #000;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .2s linear;
}
.list .social a:hover{
  transform: scale(1.1);
}
.end-text{
  text-align: center;
  padding-top: 90px;
  color: #fff;
  letter-spacing: 1px;
}

.contact-container{
  max-width: 960px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #363953;
  box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.form-container{
  padding: 20px;
}
.form-container h3{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-form{
  display: grid;
  row-gap: 1rem;
}
.contact-form input{
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}
.contact-form .send-button{
  border: none;
  outline: none;
  color: var(--text-color);
  background: #00dbde;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s linear;
}
.contact-form .send-button:hover{
  color: var(--bg-color);
  background: hsla(181, 100%, 44%, 0.8);
  transform: scale(0.9);
}
.map iframe{
  width: 100%;
  height: 100%;
}
.back-to-top-btn{
  position: fixed;
  width: 60px;
  height: 60px;
  background: #27ae60;
  bottom: 40px;
  border: none;
  display: none;
  right: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 22px;
  transition: .2s linear;
}
.back-to-top-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px){
  .sidebar{
      width: 70px;
      padding: 0.5rem;
  }
  .sidebar:hover {
      width: 160px;
  }
  .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .content-box {
        width: 80%;
        max-width: 500px;
    }
  .logo h1 {
      font-size: 18px;
  }
  .menu li {
      padding: 0.8rem;
  }
  .menu a {
      font-size: 12px;
  }
  .main--content {
      padding: 10px;
  }
  .searh--box{
      width: 100%;
  }
  .header--wrapper {
      flex-direction: column;
      padding: 10px;
  }
  .list .social a{
    margin: 10px;
  }
  .list ul li a{
    font-size: 14px;
  }
  .end-text{
    font-size: 10px;
  }
  .text h2{
    font-size: 20px;
  }
  .text p{
    font-size: 15px;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .navbar a {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}